language: scala # to trigger the build on JVM worker ('language: java' works the same)
scala:
  - "2.11.0"
env:
  - PLAY_VERSION=2.2.3 
before_script: 
  - wget http://downloads.typesafe.com/play/${PLAY_VERSION}/play-${PLAY_VERSION}.zip
  - unzip -q play-${PLAY_VERSION}.zip
script: play-${PLAY_VERSION}/play test
after_success:
  - echo $TRAVIS_JOB_ID > .build_version
  - git commit -a -m "Committed by Travis-CI build number: $TRAVIS_JOB_ID"
  - git push origin master
notifications:
  # Email notifications are disabled to not annoy anybody.
  # See http://about.travis-ci.org/docs/user/build-configuration/ to learn more
  # about configuring notification recipients and more.
  email: false
