language: scala
scala:
- 2.11.0
env:
  matrix:
  - PLAY_VERSION=2.2.3
  global:
    secure: ucWtlyHtq3S0hgjx7lg0ctMuwAmaGtk/5+d/bEUA98w4vbiwVvHccUSxBpVhnW/W8b6DL0eO74mQ3hoDUDI1xrZWS+gSy8nHS7zaxNpssWfmrwMK6YzjBl/1PpyVWV8aiBBVN76jxR4UrA8i2cvsGS9xN4zFwsmE4lyT0RKLxH8=
before_script:
- wget http://downloads.typesafe.com/play/${PLAY_VERSION}/play-${PLAY_VERSION}.zip
- unzip -q play-${PLAY_VERSION}.zip
script: play-${PLAY_VERSION}/play test
after_success:
- "./scripts/update_build_version_on_heroku.sh $TRAVIS_BUILD_NUMBER"
notifications:
  email: false
deploy:
  provider: heroku
  api_key:
    secure: NMhwXyTP3f8yaanRuMUbtLn9aOsHLAz/GCOCCnEOeAUIF5YvtwI4mgtuxolJ5Zb8/UWRy+IKsXdSTQ7mZdZqDGz1w+yO74mNcvjAbTUlgEuNY5lXWugiiYz2qcNievOk7z+F8g20x1ngVoIGta6CZw9rctPj41w2/ZCGyr6upiw=
  app: test-travis-ci
  on:
    repo: freewind/test-travis-ci
